[submodule "godot-headers"]
	path = godot-headers
	url = git@github.com:godotengine/godot-headers.git
	shallow = true
[submodule "FFmpeg"]
	path = FFmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
	shallow = true
