[submodule "FFmpeg"]
	path = FFmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
	shallow = true
[submodule "confply"]
	path = confply
	url = git@github.com:graehu/confply.git
[submodule "godot-cpp"]
	path = godot-cpp
	url = git@github.com:godotengine/godot-cpp.git
	shallow = true
[submodule "openh264"]
	path = openh264
	url = git@github.com:cisco/openh264.git
